[Desktop Entry]
Type=Application
Name=MARCADE Startup video
Exec=bash -c 'mpv --no-input-default-bindings --cursor-autohide=always --osc=no --fullscreen --on-all-workspaces ~/marcade/shit/startup.mp4'