/* latin */
@font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/press-start.woff) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@font-face {
  font-family: 'clacon';
  font-style: normal;
  font-display: swap;
  src: url(fonts/clacon2.woff2)
}

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #ffffff 0%,
    #9939ff 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  /* display: inline-block;x   */
      /* font-size: 190px; */
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}




.chill-border {
  margin: auto;
  border: 10px solid;
  border-image: linear-gradient(45deg, gold, deeppink) 1;
  clip-path: inset(0px round 10px);
  animation: huerotate 6s infinite linear;
  filter: hue-rotate(360deg);
}

@keyframes huerotate {
  0% {
      filter: hue-rotate(0deg);
  }
  100% {
      filter: hue-rorate(360deg);
  }
}



.mario{
  position: absolute;
  width: 71px;
  height: 72px;
  background: url('https://raw.githubusercontent.com/LantareCode/random-this-and-thats/master/CSS/SuperMario-Animation/images/mariowalking/result.png') left center;    
  bottom:   0px;
  left:0px;
  -webkit-animation: play 0.5s steps(4) infinite,
              run 5s both 1 linear;
  
          animation: play 0.5s steps(4) infinite,
              run 5s both 1 linear;
}
@-webkit-keyframes play{
  100%{background-position: -284px;}
}
@keyframes play{
  100%{background-position: -284px;}
}
@-webkit-keyframes run{
  from{left: -200px;}
  to{left: 100%;}
}
@keyframes run{
  from{left: -200px;}
  to{left: 100%;}
}