body {
    margin: 0;
    background: linear-gradient(to right bottom, #000000, 80%, #bf00ff);
    /* background: linear-gradient(to right bottom in hsl longer hue, #000000, #ae0000); */
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    animation: gradientAnimation 3.5s infinite alternate-reverse ease;
    background-size: 200% 200%;
    cursor: none;
    overflow: hidden;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 60% 80%;
    }
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    font-family: 'clacon';
    font-size: 20px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option {
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    transition: all 0.2s ease-in-out;
}

.option.disabled {
    color:#6e6e6e;
}

.option.selected {
    font-size: 35px;
    /* font-weight: bold; */
    /* text-decoration: underline; */
}

.image {
    width: 300px;
    height: 200px;
    background-image: url('path/to/your/image.png');
    background-size: cover;
    background-position: center;
    animation: fadeOut 5s linear infinite;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.title {
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
    text-align: center;
    /* margin-bottom: 50px; */
    margin-bottom: 10px;
}

.subtitle {
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Press Start 2P', cursive;
    /* animation: textFlash 1s steps(1) infinite alternate; */
}

@keyframes textFlash {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.author {
    float: right;
    animation: fadeIn 1s linear;
    display: none;
    white-space: pre;
    color: #6e6e6e;
}

.author.long {
    font-size: 20px;
    float: none;
    padding-top: 5px;
    padding-bottom: 10px;
}

.option.selected .author {
    display: block;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}